<apex:page sidebar="false">
<link rel="stylesheet" type="text/css" href="{!URLFOR($Resource.pymt__PaymentConnect,'styles/ptl_basic.css')}" />

   <div id="pc_lang_{!HTMLENCODE($CurrentPage.parameters.lang)}">
   <div class="pc_page" id="pc_qi_ptlpayments_page">
    <div class="pc_page_content_top"></div>
    <div class="pc_page_content" >
    <div class="pc_page_content_inner">
    
        <apex:sectionHeader subtitle="Recent Payments"/>
 	<p>Deprecated: Please use the PtlPayments page included in the base PaymentConnect page.</p>
        
    </div><!--  pc_page_content_inner -->
    </div><!--  pc_page_content -->
    </div><!--  pc_page --> 
</div> <!--  page pc_lang_xxx div -->            
</apex:page>