<apex:page id="ptlPaymentHistoryPage" controller="pymt.SitePaymentHistoryController"  sidebar="false" title="Payment History"  cache="false" >
<link rel="stylesheet" type="text/css" href="{!URLFOR($Resource.pymt__PaymentConnect,'styles/ptl_basic.css')}" />

  <div class="pc_page_content_top"></div>
  <div class="pc_page_content"  id="pc_ptlpaymenthistory_page">
    <div class="pc_page_content_inner"> 
    <apex:outputPanel rendered="{!(ISPICKVAL($User.UserType,'Guest'))}"> 
        <apex:pageMessage summary="Login required." severity="warning" strength="3" />
    </apex:outputPanel>
    <apex:outputPanel rendered="{!NOT(ISPICKVAL($User.UserType,'Guest'))}">
    
    <apex:pageMessages id="messages"/>    
    <apex:outputPanel rendered="{!NOT($Label.SitePaymentHistory_Heading == '-')}">
    <apex:sectionHeader Title="{!$Label.SitePaymentHistory_Heading}" />
    </apex:outputPanel>
                                    
    <apex:outputPanel rendered="{!NOT($Label.SitePaymentHistory_Message == '-')}">
    <p>{!$Label.SitePaymentHistory_Message}</p> 
    </apex:outputPanel>
    
    <c:PaymentHistory contactId="{!contactId}" showHeader="true" additionalFields="pymt__Transaction_Type__c, pymt__Payment_Type__c" cartItems="true" expanded="false"/>
    </apex:outputPanel>
  </div>
  </div>  
</apex:page>