<apex:page showHeader="false" id="SiteTemplate" standardStylesheets="false" language="{!$CurrentPage.Parameters.lang}">

<!-- Basic PaymentConnect style file -->
<link rel="stylesheet" type="text/css" href="{!URLFOR($Resource.pymt__PaymentConnect,'styles/sites_basic.css')}" />
<!-- Displays payment processor "trust" logos on package checkout pages -->
<link rel="stylesheet" type="text/css" href="{!URLFOR($Resource.pymt__PaymentConnect,'styles/trust_logos.css')}" /> 
<!-- Sample template (Red) style file -->
<link rel="stylesheet" type="text/css" href="{!URLFOR($Resource.pymt__PaymentConnect,'styles/red/main.css')}" />

<style>

/* Javascript menu bar styling */

#pc_menubar_wrapper {
    width:100%;
    border: 0px;
    padding:0px;
    margin:0px;
    background: transparent;
    margin-bottom:0px;
    }
#pc_menubar
{   margin: 0;
    padding: 0;
    z-index: 30}

#pc_menubar li
{   margin: 0;
    padding: 0;
    list-style: none;
    float: left;
    font: bold 14px arial}

#pc_menubar li a
{   display: block;
    margin: 0 0px 0 0;
    border: 1px solid transparent;
    padding: 8px 10px;
    width: 110px;
    background: #920000;
    background: transparent;
    color: #FFF;
    text-align: center;
    text-decoration: none}

#pc_menubar li a:hover
{   
    background: #004670;
    background: #920000;
    border: 1px solid #920000;
}

#pc_menubar div
{   position: absolute;
    visibility: hidden;
    margin: 0;
    padding: 0;
    background: #EAEBD8;
    border: 1px solid #e0e0e0;  /* dropdown box border */
    border-top: 0px;
    z-index:50;
    }

    #pc_menubar div a
    {   position: relative;
        display: block;
        margin: 0;
        padding: 5px 10px;
        width: auto;
        white-space: nowrap;
        text-align: left;
        text-decoration: none;
        background: #fff;  /* dropdown background color */
        color: #484848;
        font: 14px arial}

#pc_menubar div a:hover {   
    background: #920000;
    border: #920000;
    color: #fff}
    
</style>
<script>
// Copyright 2006-2007 javascript-array.com

var timeout = 500;
var closetimer  = 0;
var ddmenuitem  = 0;

// open hidden layer
function mopen(id)
{   
    // cancel close timer
    mcancelclosetime();

    // close old layer
    if(ddmenuitem) ddmenuitem.style.visibility = 'hidden';

    // get new layer and show it
    ddmenuitem = document.getElementById(id);
    ddmenuitem.style.visibility = 'visible';

}
// close showed layer
function mclose()
{
    if(ddmenuitem) ddmenuitem.style.visibility = 'hidden';
}

// go close timer
function mclosetime()
{
    closetimer = window.setTimeout(mclose, timeout);
}

// cancel close timer
function mcancelclosetime()
{
    if(closetimer)
    {
        window.clearTimeout(closetimer);
        closetimer = null;
    }
}

// close layer when click-out
document.onclick = mclose; 
</script>

<body id="htmlBody">

    <div class="pc_frame">
    <div class="pc_frame_inner">
    
    <apex:insert name="header">
    <!--  Add custom banner and navigation here -->
        <div class="pc_frame_top">
    <!--  Edit custom banner and navigation here -->
        <div class="pc_frame_top" >
            <div id="pc_menubar_wrapper">
            <ul id="pc_menubar">
                <li><a href="#">Menu Item 1</a></li>
                <li><a href="#" 
                    onmouseover="mopen('m1')" 
                    onmouseout="mclosetime()">Menu Item 2</a>
                    <div id="m1" 
                        onmouseover="mcancelclosetime()" 
                        onmouseout="mclosetime()">
                    <a href="#">Link 1</a>
                    <a href="#">Link 2</a>
                    <a href="#">Link 3</a>
                    </div>
                </li>
                <li><a href="#">Menu Item 3</a></li>
                <li><a href="#" 
                    onmouseover="mopen('m2')" 
                    onmouseout="mclosetime()">Portal</a>
                    <div id="m2" 
                        onmouseover="mcancelclosetime()" 
                        onmouseout="mclosetime()">
                    <apex:outputPanel layout="none" rendered="{!NOT(ISPICKVAL($User.UserType,'Guest'))}">                                                    
                        <a href="{!URLFOR($Page.pymt__SitePaymentHistory)}">Payment History</a>
                        <a href="{!URLFOR($Page.pymt__SiteScheduledPayments)}">Scheduled Payments</a>
                        <a href="{!URLFOR($Page.pymt__SiteManagePmtMethods)}">Payment Methods</a>
                        <apex:outputLink value="{!$Site.Prefix}/secur/logout.jsp" rendered="{!NOT(ISPICKVAL($User.UserType,'Guest'))}">{!$Label.site.logout}</apex:outputLink>
                    </apex:outputPanel>    
    
                    <apex:outputPanel layout="none" rendered="{!(ISPICKVAL($User.UserType,'Guest'))}">    
                        <a href="{!URLFOR($Page.pymt__SiteLogin)}">Portal Login</a>
                        <a href="{!URLFOR($Page.pymt__SiteRegister)}">New User</a>
                    </apex:outputPanel>
                    </div>
                </li>
                <li><a href="#">Support</a></li>
            </ul>
            <div style="clear:both"></div>
            </div>
        </div>             
            <div style="height:0px;"/>
            <div id="top_banner">
                <div class="inner">
                 <img class="pc_logo" src="/s.gif" /><apex:outputText styleClass="org_name" value="{!$Organization.Name}"/>
                 <br/><span class="tag_line">Demo Sites Website</span>
                 </div>
            </div>
            <div id="top_banner_accent"></div>


        </div>

    </apex:insert>

    <apex:insert name="body"/>

    <apex:insert name="footer">
    <!--  Add custom footer here -->
    <div class="footer">
    <div class="contact_info">
    {!$Organization.Name}&nbsp;|&nbsp;
    {!$Organization.Street},&nbsp;
    {!$Organization.City},&nbsp;
    {!$Organization.State}&nbsp;
    {!$Organization.Country}&nbsp;
    {!$Organization.PostalCode}&nbsp;|&nbsp;
    {!$Organization.Phone}
    </div>
    <div class="powered_by">{!$Label.site.powered_by} Linvio PaymentConnect</div>
    </div>
    </apex:insert>
    </div><!--  end pc_frame_inner -->
    </div><!--  end pc_frame -->
    

</body>
</apex:page>