<apex:component controller="OpportunityReceiptItemizedController" access="global">

  <apex:attribute access="global" name="Opportunity" type="Id" description="" assignTo="{!opportunityId}"></apex:attribute>

  <apex:outputPanel layout="block">
    
   <table cellpadding="2" cellspacing="0" width="600px">
   
			<tr>
			   <th>Qty</th>
			   <th>Description</th>
			   <th>Dosage</th>
			   <th>Days</th>  
			   <th style="text-align:right;">Price Each</th>
			   <th style="text-align:right;">Total</th>
			</tr>

			<apex:repeat var="item" value="{!items}">
			   <tr>
			       <td>{!item.Quantity}</td>
			       <td>{!item.PricebookEntry.Name}</td>
			       <td>{!item.Dosage_Value__c}</td>
			       <td>{!item.Days__c}</td>
			       <td style="text-align:right;">${!IF(CONTAINS(TEXT(item.UnitPrice),"."),RPAD(TEXT(item.UnitPrice),FIND('.',TEXT(item.UnitPrice))+2,'0'),TEXT(item.UnitPrice)+'.00')}</td>
			       <td style="text-align:right;">${!IF(CONTAINS(TEXT(item.TotalPrice),"."),RPAD(TEXT(item.TotalPrice),FIND('.',TEXT(item.TotalPrice))+2,'0'),TEXT(item.TotalPrice)+'.00')}</td>
			   </tr>
			</apex:repeat>   
			
			<tr>
			  <th colspan="6"></th>
			</tr>
			
			<tr>
			     <td colspan="4"></td>
			     <td style="text-align:right;">Order Total: </td>
			     <td style="text-align:right;">${!IF(CONTAINS(TEXT(opp.pymt__Total_Amount__c),"."),RPAD(TEXT(opp.pymt__Total_Amount__c),FIND('.',TEXT(opp.pymt__Total_Amount__c))+2,'0'),TEXT(opp.pymt__Total_Amount__c)+'.00')}</td>
			</tr>
    
    </table>
    
    <p>Payments Received:&nbsp;<apex:outputText value="{!opp.pymt__Payments_Made__c}"/></p>
    <p>Amount Due:&nbsp;<apex:outputText value="{!opp.pymt__Balance__c}"/></p>    
    
    </apex:outputPanel>

</apex:component>

<!-- 
    <apex:outputPanel rendered="{!relatedTo.pymt__Opportunity__r.HasOpportunityLineItem}" layout="block">
    <p>Products:</p>
    <table cellpadding="2" cellspacing="0" width="600px">
        <tr>
           <th>Qty</th>
           <th>Description</th>
           <th>Dosage</th>
           <th>Days</th>  
           <th style="text-align:right;">Price Each</th>
           <th style="text-align:right;">Total</th>
        </tr>
    <apex:repeat var="item" value="{!relatedTo.pymt__Opportunity__r.OpportunityLineItems}">
       <tr>
           <td>{!item.Quantity}</td>
           <td>{!item.PricebookEntry.Name}</td>
           <td>{!item.Dosage_Value__c}</td>
           <td>{!item.Days__c}</td>
           <td style="text-align:right;">${!IF(CONTAINS(TEXT(item.UnitPrice),"."),RPAD(TEXT(item.UnitPrice),FIND('.',TEXT(item.UnitPrice))+2,'0'),TEXT(item.UnitPrice)+'.00')}</td>
           <td style="text-align:right;">${!IF(CONTAINS(TEXT(item.TotalPrice),"."),RPAD(TEXT(item.TotalPrice),FIND('.',TEXT(item.TotalPrice))+2,'0'),TEXT(item.TotalPrice)+'.00')}</td>
       </tr>
    </apex:repeat>  
    
        <tr>
           <th colspan="6"></th>
       </tr>
    
      <tr>
           <td colspan="4"></td>
           <td style="text-align:right;">Order Total: </td>
           <td style="text-align:right;">${!IF(CONTAINS(TEXT(relatedTo.pymt__Opportunity__r.pymt__Total_Amount__c),"."),RPAD(TEXT(relatedTo.pymt__Opportunity__r.pymt__Total_Amount__c),FIND('.',TEXT(relatedTo.pymt__Opportunity__r.pymt__Total_Amount__c))+2,'0'),TEXT(relatedTo.pymt__Opportunity__r.pymt__Total_Amount__c)+'.00')}</td>
       </tr>
    </table>
    
    <p>Order Number: {!relatedTo.pymt__Invoice_Number__c}</p>
    <p>Payments Received:&nbsp;<apex:outputText value="{!relatedTo.pymt__Opportunity__r.pymt__Payments_Made__c}"/></p>
    <p>Amount Due:&nbsp;<apex:outputText value="{!relatedTo.pymt__Opportunity__r.pymt__Balance__c}"/></p>
    
    </apex:outputPanel>   -->